{
  "presets": [
    [
      "@babel/env",
      {
        "corejs": 3,
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            "last 5 versions",
            "ie >= 8"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3,
        "targets": {
          "browsers": [
            "last 5 versions",
            "ie >= 8"
          ]
        }
      }
    ]
  ]
}